
.my_mgt_Card .content_input_field{
    width: 100%;
}

.my_mgt_Card .content_input_field_description{
    width: 100%;
    height: 222px;
}

.back_button_label {
    display: flex;
    gap: 15px;
    flex-direction: row;
    justify-content: space-between;
}

.back_button_label .main_heading{
    margin: 7px 0px 0px 0px;
}